html {margin 0; padding: 0; }
body {padding: 0; margin: 0; background-color: #222; color: #33d011; }
body,p,a,td {
	font-family: courier,fixed;
	font-size: 12px;
	color: #33d011;
}
a,a:link,a:visited {
	text-decoration: none;
	color: #77dd11;
}
a:hover {
	text-decoration: underline;
	color: #77dd11;
}
a:active {
	text-decoration: underline;
	color: #dddddd;
}

.term {
	font-family: courier,fixed;
	font-size: 12px;
	color: #33d011;
	background: none;
}

.termReverse {
	font-family: courier,fixed;
	font-size: 12px;
	color: #111111;
	background: #33d011;
}

.grey {
	font-family: courier,fixed;
	font-size: 12px;
	color: #999999;
}

.disclaimer {
	font-family: courier,fixed;
	font-size: 10px;
	color: #999999;
}

.keywords {
	font-family: arial,helvetica,sans-serif;
	font-size: 10px;
	color: #222222;
}

a.disclaimer,a.disclaimer:link,a.disclaimer:visited {
	text-decoration: none;
	color: #b0b0b0;
}
a.disclaimer:hover {
	text-decoration: underline;
	color: #77dd11;
}
a.disclaimer:active {
	text-decoration: underline;
	color: #dddddd;
}

a.termopen,a.termopen:link,a.termopen:visited {
	text-decoration: none;
	color: #77dd11;
	background: none;
}
a.termopen:hover {
	text-decoration: none;
	color: #222222;
	background: #77dd11;
}
a.termopen:active {
	text-decoration: none;
	color: #222222;
	background: #dddddd;
}
/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 0px;
}
li {
  list-style-type: none;
}
